* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);
}

body {
    height:98vh;
    font-size:15px;
    background: var(--Very-light-gray);
}

main {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}

.card {
    display:grid;
    grid-template-columns:33% 33% 33%;
    width:850px;
    height:450px;
    color: var(--Very-light-gray);
}

.card h1 {
    margin-top:30px;
    font-family:'Big Shoulders Display', cursive;
    font-weight:700;
    font-size:38px;
}

.card p {
    margin-top:30px;
    font-family:'Lexend Deca', sans-serif;
    font-weight:400;
    line-height:1.7;
}

.card button {
    margin-top:60px;
    width:70%;
    height:44px;
    text-align:center;
    font-size:15px;
    font-weight:700;
    border:none;
    border-radius:30px;
}

.card-left, .card-mid, .card-right {
    padding:40px;
}

.card-left {
    background: var(--Bright-orange);
    border-radius: 8px 0 0 8px;
}

.card-left-btn {
    color: var(--Bright-orange);
}

.card-mid {
    background: var(--Dark-cyan);
}

.card-mid-btn {
    color: var(--Dark-cyan);
}

.card-right {
    background: var(--Very-dark-cyan);
    border-radius: 0 8px 8px 0;
}

.card-right-btn {
    color: var(--Very-dark-cyan);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}